<div class="page-container">
  <header class="header-bar">
    <h1>Professores</h1>
  </header>

  <div class="content-wrapper">
    <table class="professors-table">
        </table>
  </div>

  <footer class="footer-actions">
    <app-botao-adicionar
      [textoBotao]="'+ Adicionar Professor'"
      [disabled]="!isAdmin"
      (clickEvent)="openModalToAdd()"
    ></app-botao-adicionar>
  </footer>
</div>

@if (isModalVisible()) {
  <app-pop-up-adicionar-professor
    (close)="handleCloseModal()"
    (save)="handleSaveProfessor($event)"
  ></app-pop-up-adicionar-professor>
}