<div class="modal-backdrop" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Adicionar Disciplina à Matriz</h2>
    <form [formGroup]="form">
      <div class="form-field">
        <label for="disciplina">Disciplina *</label>
        <select id="disciplina" formControlName="idDisciplina">
          <option [ngValue]="null" disabled>Selecione uma disciplina</option>
          @for(d of disciplinas(); track d.id) {
            <option [ngValue]="d.id">{{ d.nome }} ({{ d.codigo }})</option>
          }
        </select>
      </div>

      <div class="form-field">
        <label for="semestre">Semestre *</label>
        <input id="semestre" type="number" formControlName="semestre" placeholder="Ex: 1, 2, 3...">
      </div>
      
      <div class="form-field">
         <label for="preRequisito">Pré-requisito (Opcional)</label>
         <select id="preRequisito" formControlName="idPreRequisito">
          <option [ngValue]="null">Nenhum pré-requisito</option>
          @for(d of disciplinas(); track d.id) {
            <option [ngValue]="d.id">{{ d.nome }} ({{ d.codigo }})</option>
          }
        </select>
      </div>

      <div class="modal-actions">
        <button type="button" class="save-button" (click)="onSave()" [disabled]="form.invalid">Adicionar</button>
      </div>
    </form>
  </div>
</div>