.barra-resumo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f58220;
  color: #fff;
  cursor: pointer;
  border-radius: 5px; 
  font-family: Arial, sans-serif; 
  font-size: 1rem;
  font-weight: bold;
}

.icone-seta {
  width: 24px;
  height: 24px;
  fill: white;
  transition: transform 0.3s ease;
}

.icone-seta.aberta {
  transform: rotate(180deg);
}