<div class="modal-backdrop" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ professorToEdit ? 'Editar Professor' : 'Adicionar Novo Professor' }}</h2>
    <form [formGroup]="professorForm">
      <div class="form-field">
        <label for="nomeCompleto">Nome Completo</label>
        <input id="nomeCompleto" type="text" formControlName="nomeCompleto" placeholder="Nome do professor">
      </div>

      <div class="form-field">
        <label for="escolaVinculada">Instituição</label>
        <input id="escolaVinculada" type="text" formControlName="escolaVinculada" placeholder="Ex: UCSAL, UFBA">
      </div>

      <div class="form-field">
        <label for="numeroRegistro">Registro</label>
        <input id="numeroRegistro" type="number" formControlName="numeroRegistro" placeholder="Apenas números">
      </div>

      <div class="modal-actions">
        <button type="button" class="save-button" (click)="onSave()" [disabled]="professorForm.invalid">
          {{ professorToEdit ? 'Salvar Alterações' : '+ Adicionar Professor' }}
        </button>
      </div>
    </form>
  </div>
</div>