<div class="page-container">
  <header class="page-header">
  <h1>Matérias Cadastradas</h1>
</header>

  <div class="list-header">
    <span>Nome</span>
    <span>Curso</span>
    <span>Carga Horária</span>
    <span>Tipo</span>
    <span>Classificação</span>
    <span class="status-header">Status</span>
  </div>

  <div class="materias-list">
    @for(materia of materias(); track materia.id) {
      <div class="materia-item">
        <div class="materia-row" (click)="toggleExpand(materia.id)">
          <span class="nome-materia">{{ materia.nome }} ({{ materia.codigo }})</span>
          <span>{{ materia.curso }}</span>
          <span>{{ materia.cargaHoraria }}h</span>
          <span>{{ materia.tipo }}</span>
          <span>{{ materia.classificacao }}</span>
          <div class="status-cell">
            <span class="status-dot" [class.active]="materia.ativo"></span>
          </div>
          <div class="arrow-cell">
            <svg class="arrow-icon" [class.expanded]="expandedMateriaId() === materia.id" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>
          </div>
        </div>

        @if (expandedMateriaId() === materia.id) {
          <div class="materia-details">
            <div class="detail-section">
              <div class="detail-header">
                <span>Ementa</span>
                <i class="fas fa-cog icon-settings"></i>
              </div>
              <p class="detail-content">{{ materia.ementa }}</p>
            </div>
            
            <div class="details-actions">
              <button class="btn-edit" (click)="onEdit(materia)">Editar</button>
              
              @if (isAdmin) {
                <button class="btn-delete" (click)="onDelete(materia.id)">Excluir</button>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>

  <footer class="footer-actions">
    <app-botao-adicionar
      [textoBotao]="'+ Adicionar Disciplina'"
      [disabled]="!isAdmin"
      (clickEvent)="openAddModal()"
    ></app-botao-adicionar>
  </footer>
</div>

@if (isModalVisible()) {
  <app-pop-up-adicionar-materia
    (close)="handleCloseModal()"
    (save)="handleSaveNewDiscipline($event)"
  ></app-pop-up-adicionar-materia>
}