@if (disciplina) {
  <div class="disciplina-container">
    <header class="page-header">
      <h1>{{ disciplina.nome }} ({{ disciplina.codigo }})</h1>
    </header>

    <div class="secao">
      <div class="secao-header">
        <h2>Ementa</h2>
        <i class="fas fa-cog edit-icon" (click)="abrirModal('ementa')" title="Editar Ementa"></i>
      </div>
      <div class="secao-body">
        <p>{{ disciplina.ementa }}</p>
      </div>
    </div>

    </div>
} @else {
  @if(isLoading()) {
    <p>Carregando detalhes da disciplina...</p>
  }
  @if(error()) {
    <p style="color: red;">{{ error() }}</p>
  }
}